$widescreen-min-width: 1024px;
$desktop-max-width: 1023px;
$desktop-min-width: 769px;
$tablet-max-width: 768px;
$mobile-max-width: 480px;

$header-height: 52px;
$header-height-desktop: 72px;

$main-color: #7490c6;
$main-hover-color: #5776b5;
$dark-blue: #060b1a;
$text-dark-blue: #292939;
$background-color: #e5e8f3;
$white: #ffffff;
// $gray-100: #edeff4;

// bulma変数の書き換え
@import '~bulma/sass/utilities/_all';
// 学問分野
$orange: #ff6200; // sociology
$red: #dc2e54; // humanities
$turquoise: #147f88; // science
$green: #0f7b05; //natural science
$blue: #1650bb; //formal science

// 学問分野 light-color
$light-orange: #fee0ce; // sociology
$light-red: #ffdada; // humanities
$light-turquoise: #bcf2f7; // science
$light-green: #e7f7e5; //natural science
$light-blue: #eef2fb; //formal science


// carousel
$carousel-arrow-color: rgb(166, 194, 248);
$carousel-indicator-border: #7490C6;
$carousel-indicator-color: #ffffff;
// $carousel-min-height: 162px;

//img var
// :root {
//   --article-image: url('{{ articleImage }}');
// }

@import '~bulma';
@import '~buefy/src/scss/buefy';
